@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Titan One', cursive;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #000000;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(75deg, #0f0f0f, #333333, #6c6c6c);
  background-size: 400% 400%;
  animation: background 15s linear reverse infinite;
  -webkit-animation: background 15s linear reverse infinite;
  transform-origin: bottom bottom;
  perspective: 1000;
}


@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  top: 0;
  height: 5rem;
  background-color: #000000;
  width: 100%;
  position: absolute;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-title {
  width: 50%;
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0;
  margin-top: 0;
  filter: drop-shadow(0px 0px 2px #000);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.title {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 0px 2px #000);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 0px 2px #000);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  filter: drop-shadow(0px 0px 5px #000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: popup 0.75s ease;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.modal-header {
  font-size: 3rem;
}

.modal-content {
  font-size: 1.25rem;
  margin-top: 10px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  gap: 15px;
}

.button {
  font-family: 'Nunito';
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 7.5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  filter: drop-shadow(0px 0px 2px #000);
  user-select: none;
  text-decoration: none;
  text-align: center;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
}

.button span {
  filter: drop-shadow(0px 0px 1px #000);
  -webkit-filter: drop-shadow(0px 0px 0px #000);
}

.button:hover {
  filter: drop-shadow(0px 0px 5px #000);
}

.button:active {
  transform: scale(0.9);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input {
  color: #ffffff;
  height: 7vh;
  width: 20vw;
  font-size: 1.5rem;
  font-family: 'Nunito';
  border-radius: 7.5px;
  transition: 0.3s;
  margin-top: 20px;
  margin-right: 1vw;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: transparent;
  filter: drop-shadow(0px 0px 2px #ffffff);
  user-select: none;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.input:focus {
  filter: drop-shadow(0px 0px 5px #000);
}

.prem-btns {
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #23a6d5;
}

.premade {
  width: 50%;
  left: 0;
  position: absolute;
  top: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.selfmade {
  width: 50%;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#howto {
  margin: auto;
  margin-top: 10vh;
}

.text {
  font-size: 1.25rem;
  text-align: center;
}

.buttons {
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
  max-width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

select {
  color: #ffffff;
  height: 7vh;
  width: 20vw;
  font-size: 1.5rem;
  font-family: 'Nunito';
  border-radius: 7.5px;
  transition: 0.3s;
  margin-top: 20px;
  margin-right: 1vw;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: transparent;
  filter: drop-shadow(0px 0px 2px #ffffff);
  user-select: none;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

option {
  color: #000000;
  height: 7vh;
  width: 20vw;
  font-size: 1.5rem;
  font-family: 'Nunito';
  border-radius: 7.5px;
  transition: 0.3s;
  margin-top: 20px;
  margin-right: 1vw;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: transparent;
  filter: drop-shadow(0px 0px 2px #ffffff);
  user-select: none;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="color"] {
  appearance: none;
  padding: 0;
  --color: black;
  position: relative;
  min-width: 2vw;
  min-height: 2vw;
  max-width: 2vw;
  max-height: 2vw;
  aspect-ratio: 1/1;
  --color: black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="color"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  aspect-ratio: 1/1 !important;
  background: var(--color);
  border-radius: 50%;
  padding: 0px !important;
  margin: 0px !important;
}
