@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Titan One', cursive;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  padding-bottom: 50vh !important;
  height: 200vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: -o-linear-gradient(15deg, #0f0f0f, #333333, #6c6c6c);
  background: linear-gradient(75deg, #0f0f0f, #333333, #6c6c6c);
  background-size: 400% 400%;
  animation: background 15s linear reverse infinite;
  -webkit-animation: background 15s linear reverse infinite;
  -webkit-transform-origin: bottom bottom;
      -ms-transform-origin: bottom bottom;
          transform-origin: bottom bottom;
  -webkit-perspective: 1000;
          perspective: 1000;
}


@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  top: 0;
  height: 5rem;
  background-color: #000000;
  width: 100%;
  position: absolute;
  border-radius: 0 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  padding: 0;
  margin-top: 0;
  -webkit-filter: drop-shadow(0px 0px 2px #000);
          filter: drop-shadow(0px 0px 2px #000);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.title {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-filter: drop-shadow(0px 0px 2px #000);
          filter: drop-shadow(0px 0px 2px #000);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-filter: drop-shadow(0px 0px 2px #000);
          filter: drop-shadow(0px 0px 2px #000);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  -webkit-filter: drop-shadow(0px 0px 5px #000);
          filter: drop-shadow(0px 0px 5px #000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-animation: popup 0.75s ease;
          animation: popup 0.75s ease;
}

.modal-container pre code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal-header {
  font-size: 3rem;
}

.modal-content {
  font-size: 1.25rem;
  margin-top: 10px;
  text-align: center;
}

.modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.button {
  font-family: 'Nunito';
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 7.5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 2px #000);
          filter: drop-shadow(0px 0px 2px #000);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  text-align: center;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
}

.button span {
  filter: drop-shadow(0px 0px 1px #000);
  -webkit-filter: drop-shadow(0px 0px 0px #000);
}

.button:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #000);
          filter: drop-shadow(0px 0px 5px #000);
}

.button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input[type="text"] {
  font-family: 'Nunito';
  color: #ffffff;
  padding: 0.5vw 2vw;
  font-size: 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: all 0.3s ease;
  margin-top: 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 2px #000);
          filter: drop-shadow(0px 0px 2px #000);
  outline: none;
  text-align: center;
}

input[type="text"]:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #000);
          filter: drop-shadow(0px 0px 5px #000);
}

.input {
  color: #ffffff;
  height: 7vh;
  width: 20vw;
  font-size: 1.5rem;
  font-family: 'Nunito';
  border-radius: 7.5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  margin-right: 1vw;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
          filter: drop-shadow(0px 0px 2px #ffffff);
  user-select: none;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.input:focus {
  -webkit-filter: drop-shadow(0px 0px 5px #000);
          filter: drop-shadow(0px 0px 5px #000);
}

.prem-btns {
  min-width: 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #23a6d5;
}

.premade {
  width: 50%;
  left: 0;
  position: absolute;
  top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selfmade, .fromblook {
  width: 50%;
  right: 0;
  top: 20vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fromblook {
  top: 100vh;
}

#howto {
  margin: auto;
  margin-top: 10vh;
}

.text {
  font-size: 1.25rem;
  text-align: center;
}

.buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

select {
  color: #ffffff;
  height: 7vh;
  width: 20vw;
  font-size: 1.5rem;
  font-family: 'Nunito';
  border-radius: 7.5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  margin-right: 1vw;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
          filter: drop-shadow(0px 0px 2px #ffffff);
  user-select: none;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

option {
  color: #000000;
  height: 7vh;
  width: 20vw;
  font-size: 1.5rem;
  font-family: 'Nunito';
  border-radius: 7.5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  margin-right: 1vw;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
          filter: drop-shadow(0px 0px 2px #ffffff);
  user-select: none;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20vw;
  height: 2vh;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 7.5px;
  margin-top: 20px;
  margin-right: 1vw;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
          filter: drop-shadow(0px 0px 2px #ffffff);
  user-select: none;
  text-decoration: none;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 2vw;
  height: 2vw;
  background: #ffffff !important;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #ffffff;
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
          filter: drop-shadow(0px 0px 2px #ffffff);
  user-select: none;
  text-decoration: none;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="color"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  --color: black;
  position: relative;
  min-width: 2vw;
  min-height: 2vw;
  max-width: 2vw;
  max-height: 2vw;
  aspect-ratio: 1/1;
  --color: black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="color"]::before {
  content: '';
  appearance: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  aspect-ratio: 1/1 !important;
  background: var(--color);
  border-radius: 50%;
  padding: 0px !important;
  margin: 0px !important;
  filter: drop-shadow(0px 0px 2px #000);
}
